* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.full-width-view {
	height: 100vh;
}

.bg-img {
  /* The image used */
  background-image: url("./images/products/ps4-controller-purple.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
	font-family: 'Kanit' ;
	src:  url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');
	font-weight: 100, 200, 300, 400, 500;
}

.font-100 {
	font-family: 'Kanit', sans-serif;
	font-weight: 100;
}

.font-200 {
	font-family: 'Kanit', sans-serif;
	font-weight: 200;
}

.font-300 {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
}

.font-400 {
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
}

.font-500 {
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
}

.font-pink {
	color: #f06597;
}

.font-purple {
	color: #1b0b42;
}

.font-light-blue {
	color: #90d4d8;
}

.bg-pink {
	background-color: #f06597;
}

.bg-purple {
	background-color: #1b0b42;
}

.bg-light-blue {
	background-color: #90d4d8;
}

.navi-border-radius {
	border-radius: 2px;
}

.paragraph-text-limit {
   word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; /* fallback */
   max-height: 16px; /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.submit-btn-shadow {
	box-shadow: 1px 1px 8px #2f4e73, 0 0 8px #c5e6ef, 0 0 8px #baabcf;
}

.product-card-shadow {
	box-shadow: 3px 3px 5px #6751c1;
}

.product-img-width {
	width: 5rem;
}